body {
    max-width: 1920px; 
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 1.2rem;
    line-height: 1.65rem;
    color: #393d41;
    font-style: bold;
}
.logo {
    width: 200px;
    padding: 30px;
}
.intestazione {
    background-image: url(../images/banner.jpg);
    background-size: cover;  
    text-align: center;
    height: 700px;
}
#text-intestazione {
    margin-left: auto;
    margin-right: auto;
    padding: 200px 200px 20px 200px;
}
#text-intestazione h1{
    margin-bottom: 20px;
}
button {
    background-color: #f04c2f;
    font-family: "Montserrat";
    font-weight: bold;
    padding: 20px 35px;
    margin: 10px auto;  
    border-radius: 5px;
    color: white;   
}
section {
    display: flex;
    justify-content: center;
    margin: 40px;
}
#text-image {
    margin-top: 70px;
    margin-left: 50px;
}
#text-image h2 {
    margin-top: 25px;
    margin-bottom: 10px;
}
.roundimage {
    margin-top: 100px;
    margin-bottom: 100px;
}
.roundimage img {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}
.redarticle {
    background-color:#e22d0e;
    color: white;
    text-align: center;
    padding: 100px;
}
aside{
    display: flex;
    justify-content: center;
    margin: 100px auto;
}
aside article {
    margin: 40px;
    text-align: center;
}
aside article {
    border: 1px solid #dee1e3;
    max-width: 400px;
}
aside img{
    max-width: 400px;
    max-height: 248px;
}
blockquote {
    font-size: 30px;
    font-style: italic;
    padding: 40px;
}
.ceo{
    font-size: 12px;
}
footer {
    padding: 60px;
    background-color: #25a2c3;
    color: white;
    display: flex;
    justify-content: center;    
}
header {
    background-color: black;
}
p {
    line-height: 1.5em;
    font-size: 20px;
}
article p{
    font-size: 16px;
}
h1,h2{
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1.5rem;
    color: #25a2c3;
}
h1 {
   font-size: 50px;
}
h2 {
   font-size: 25px;
}
aside article p{
    margin: 10px 20px 50px 10px;
}
footer h1{
    color: white;
    margin-bottom: 30px;
    
}
.redarticle h2{
    color: white;
    font-size: 30px;
} 
#copy{
    border-top: 1px solid white;
    padding-top: 30px;
    margin-top: 30px; 
    text-align: center;
}
a {
    color: white;
}
.underline {
    text-decoration: underline;
}
